// Color for general text, paragraphs, etc.
$color-common: #11054E;
$color-common-contrast: white;

// Color primary, usually for navs, headers, buttons
$color-primary: #2A00D7;
$color-primary-contrast: #fff;

